/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    padding: 50px 0;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu {
    display: flex;
    flex-direction: column;
}
button {
    font-size: 24px;
    padding: 10px 50px;
    margin: 10px 0;
}
.slide-container {
    width: 100%;
}
.slider {
    height: 25px;
    padding: 20px 0;
    width: 100%;
    color: black;
}
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
#container {
    display: grid;
    /* grid-gap: 1em; */
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    box-shadow: 0 0 5px gray;
}
.grid-item {
    /* padding: 1em; */
    background-color: white;
    /* border: 1px solid black; */
    text-align: center;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}