/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    padding: 50px 0;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
#container {
    display: grid;
    /* grid-gap: 1em; */
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}
.grid-item {
    padding: 1em;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}